
.input__pass,.input__text{
    height:3rem;
    width: 20rem;
    padding: 10px;
}
.main__div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__div{
    padding: 30px;
    position: relative;
    width: 400px;
    height: 400px;  
    border: 2px solid;
    border-color: wheat;
    border-radius: 20px;
    background: transparent;
    backdrop-filter:blur(20px);
    box-shadow:  0 0 30px rgba(0, 0, 0, .5);
    top: 150px;
}
.form__div h1{
    font-weight: 600;
    font-size: 2rem;
}